@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Risk of Rain 2 Item Database</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome, space cowboy.</h2>
        <p>
            I made this for a school project, so don't expect much.
        </p>
    </div>
    <div class="col-md-4">
        <h2>I copied most of this from here:</h2>
        <p>I'm...sure they won't mind.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">"Programming" is just a fancy word for "stealing from StackOverflow". &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>You can "borrow" my code as well!</h2>
        <p>It's not really stealing if it wasn't mine in the first place.</p>
        <p><a class="btn btn-default" href="https://github.com/frazerwright/ItemDB_2022/tree/master/ItemDB">Looking at the error list will be like scrolling through a bowl of Cheerios. &raquo;</a></p>
    </div>
</div>